@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);

#content .WireTabs #_AdminHelpTabHelp {
  color: #5CC7B2;
}

#content .WireTabs #_AdminHelpTabHelp:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f1cd\00a0 ";
}

#content .WireTabs #_AdminHelpTabHelp:hover {
  background: none;
  text-decoration: underline;
  border-color: transparent;
}

.help-doc {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1.1em;
	line-height: 1.7;
	color: #000;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
}

.help-doc:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.help-doc ul,
.help-doc ol {
    font-weight: 400 !important;
    margin: 0 0 20px 25px !important;
}

.help-doc ul li:before {
	content: "\0BB \020";
}

.help-doc ul li,
.help-doc ol li {
	margin: 0 0 2px 0;
}

.help-doc ol li {
	margin-left: 15px;
}

.help-doc strong {
	font-weight: 700;
}

.help-doc em {
	font-style: italic;
}

.help-doc a {
  color: #337ab7;
  text-decoration: none;
}
.help-doc a:hover,
.help-doc a:focus {
  color: #23527c;
  text-decoration: underline;
}
.help-doc a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.help-doc hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #c2c2c2;
}

.help-doc h1,
.help-doc h2,
.help-doc h3,
.help-doc h4,
.help-doc h5,
.help-doc h6
{
/* 	font-family: inherit; */
	font-family: Raleway,sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: #000;
	letter-spacing: 2px;
}

.help-doc h5 {
	text-transform: uppercase;
	font-weight: 700;
}


.help-doc h1,
.help-doc h2,
.help-doc h3
{

  margin-top: 10px;
  margin-bottom: 25px;
}

.help-doc h4,
.help-doc h5,
.help-doc h6
{
  margin-top: 20px;
  margin-bottom: 20px;
}

.help-doc h1 {font-size: 36px;}
.help-doc h2 {font-size: 30px;}
.help-doc h3 {font-size: 24px;}
.help-doc h4 {font-size: 18px;}
.help-doc h5 {font-size: 14px;}
.help-doc h6 {font-size: 12px;}
.help-doc p  {margin: 0 0 20px;}


.help-doc h1 {
	font-family: inherit;
	font-size: 28px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 16px;
	text-transform: uppercase;
}

.help-doc h1 i {
	color: #5CC7B2;
	font-size: 28px !important;
}

.help-doc h1 span a i {
	color: #4bc100;
	font-size: 18px !important;
}

.help-doc blockquote {
	font-family: 'Raleway', sans-serif;
	padding: 10px 20px;
	margin: 20px 0px 20px;
	font-size: 17.5px;
	border-left: 5px solid #ab00ba;
}
.help-doc blockquote p {
	margin: 0;
}

.help-doc div.doc-edit {
	float:right;
	font-size:.95em;
}