
/* ========================================================================
   TABS STYLING
 ========================================================================== */

/*#content .WireTabs #_AdminHelpTabHelp {
  color: #5CC7B2;
}*/

/*.AdminThemeUikit #content .WireTabs #_AdminHelpTabHelp {
  margin-left: 20px;
}*/

/*#content .WireTabs #_AdminHelpTabHelp:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f1cd\00a0 ";
}*/

/*#content .WireTabs #_AdminHelpTabHelp:hover {
  background: none;
  text-decoration: underline;
  border-color: transparent;
}*/

.AdminThemeDefault #content .WireTabs #_AdminHelpTabHelp:hover,
.AdminThemeDefault #content .WireTabs #_ProcessPageEditHelpModal:hover  {
  color: #fff !important;
}


/* ========================================================================

 ========================================================================== */

.help-doc {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
}

.help-doc:last-child {
	border-bottom: none;
	padding-bottom: 0;
}


/* ========================================================================
  TEXT FORMATTING
 ========================================================================== */

/** NEW */
.help-doc ol {
    list-style-type: decimal !important;
    padding-left: 35px;
    margin-bottom: 15px;

}
.help-doc ol li {
    margin: .2em 0;
    display: list-item !important;
}

.help-doc ul {
    list-style-type: disc !important;
    padding-left: 35px;
    margin-bottom: 15px;

}
.help-doc ul li {
    margin: .2em 0;
    display: list-item !important;
}
/** /NEW */


.help-doc strong {
	font-weight: 700;
}

.help-doc em {
	font-style: italic;
}

.help-doc a {
  color: #337ab7;
  text-decoration: none;
}
.help-doc a:hover,
.help-doc a:focus {
  color: #23527c;
  text-decoration: underline;
}

.help-doc a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.help-doc hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #c2c2c2;
}

.help-doc h1,
.help-doc h2,
.help-doc h3,
.help-doc h4,
.help-doc h5,
.help-doc h6 {
	line-height: 1.1;
	letter-spacing: 2px;
}

.help-doc h5 {
	text-transform: uppercase;
	font-weight: 700;
}

.help-doc h1,
.help-doc h2,
.help-doc h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.help-doc h4,
.help-doc h5,
.help-doc h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.help-doc h1 {font-size: 36px;}
.help-doc h2 {font-size: 30px;}
.help-doc h3 {font-size: 24px;}
.help-doc h4 {font-size: 18px;}
.help-doc h5 {font-size: 14px;}
.help-doc h6 {font-size: 12px;}
.help-doc p  {margin: 0 0 20px;}

.help-doc h1 {
	font-family: inherit;
	font-size: 28px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 16px;
	text-transform: uppercase;
}

.help-doc h1 i {
	color: #5CC7B2;
	font-size: 28px !important;
}

.help-doc h1 span a i {
	color: #4bc100;
	font-size: 18px !important;
}

.help-doc blockquote {
	padding: 10px 20px;
	margin: 20px 0px 20px;
	font-size: 17.5px;
	border-left: 5px solid #ab00ba;
}

.help-doc blockquote p {
	margin: 0;
}

.help-doc div.doc-edit {
	float:right;
	font-size:.95em;
}



/* ========================================================================
   Component: Table
 ========================================================================== */
/*
 * 1. Remove most spacing between table cells.
 * 2. Block element behavior
 * 3. Style
 */
.help-doc table {
  /* 1 */
  border-collapse: collapse;
  border-spacing: 0;
  /* 2 */
  width: 100%;
  /* 3 */
  margin-bottom: 15px;
}
/*
 * Add margin if adjacent element
 */
* + .help-doc table {
  margin-top: 15px;
}
.help-doc table th,
.help-doc table td {
  padding: 8px 8px;
  border-bottom: 1px solid #dddddd;
}
/*
 * Set alignment
 */
.help-doc table th {
  text-align: left;
}
.help-doc table td {
  vertical-align: top;
}
.help-doc table thead th {
  vertical-align: bottom;
}
/*
 * Caption and footer
 */
.help-doc table caption,
.help-doc table tfoot {
  font-size: 12px;
  font-style: italic;
}
.help-doc table caption {
  text-align: left;
  color: #999999;
}
/*
 * Active State
 */
.help-doc table tbody tr.uk-active {
  background: #f0f0f0;
}
/* Sub-modifier: `uk-table-middle`
 ========================================================================== */
.help-doc table-middle,
.help-doc table-middle td {
  vertical-align: middle !important;
}
/* Modifier: `uk-table-striped`
 ========================================================================== */
.help-doc table-striped tbody tr:nth-of-type(odd) {
  background: #fafafa;
}
/* Modifier: `uk-table-condensed`
 ========================================================================== */
.help-doc table-condensed td {
  padding: 4px 8px;
}
/* Modifier: `uk-table-hover`
 ========================================================================== */
.help-doc table-hover tbody tr:hover {
  background: #f0f0f0;
}
