.mfp-inline-holder .mfp-content {
	/*max-width: 900px;*/
	margin: 40px auto;
}

.mfp-content li {
	display: block !important;
}

#PageEditTabs li.offscreen {
	position: absolute;
	left: -999px;
}

/*#content .WireTabs #_ProcessPageEditHelpModal {
  color: #5CC7B2;
}*/